<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    
    <div class="container">
        <h2 id="form-heading">Sign Up here</h2>
        <form action="/signup" method="POST">
            <label for="eml">Roll No</label>
            <input type="text" name="roll-no" id="eml">
            <label for="psw">Password</label>
            <input type="password" name="password" id="psw">
            <button>Sign Up</button>
        </form>
    </div>
    
</body>
</html>