<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is My Form</h1>
    <form action="/login" method="POST">
        <label for="eml">RollNo</label>
        <input type="text" name="roll-no" id="eml">
        <label for="psw">Passowrd</label>
        <input type="password" name="password" id="psw">
        <button>submit</button>
    </form>
</body>
</html>