@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.26);
    width: 300px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
input{
    display: block;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    font-weight: 100;
}
input:enabled{
    border: none;
}
/* h2{
    font-family: 'Quicksand', sans-serif;
} */
#form-heading{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
button{
    display: block;
    width: 150px;
    font-family: 'Quicksand', sans-serif;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 40px; */
    margin: 40px auto 10px auto ;
    padding: 10px 0px 10px 0px;
    border: none;
    border-radius: 10px;
}